@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Funnel+Display:wght@300..800&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Lilex:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";





body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  font-family: 'DM Sans', sans-serif;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image: url('/juice.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -1;
  transform: scale(1.1);
}